<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

  <div class="wrapper fadeInDown">
    <div id="formContent">

      <!-- Registration Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="fname" placeholder="First Name">
        <input type="text" id="login" class="fadeIn second" name="lname" placeholder="Last Name">
        <input type="text" id="login" class="fadeIn second" name="uname" placeholder="Username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
        <a href="login.html">
        <input type="submit" class="fadeIn fourth" value="Log In">
        </a>
        <input type="submit" class="fadeIn fourth" value="Registration">
      </form>
  
    </div>
  </div>

</body>
</html>